---
# Source: forecastle/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: forecastle
  labels:
    app: forecastle
    group: com.stakater.platform
    provider: stakater
    version: "v1.0.28"
    chart: "forecastle-v1.0.28"
    release: "forecastle"
    heritage: "Tiller"
data:
  config.yaml: |-
    customApps: {}
    headerBackground: null
    headerForeground: null
    instanceName: null
    namespaceSelector:
      matchNames:
      - stakater
    title: null
    
