forecastle:
  labels:
    group: com.stakater.platform
    provider: stakater
    version: "v1.0.62"
  namespace: default
  image:
    name: stakater/forecastle
    tag: v1.0.69
  deployment:
    replicas: 1
    revisionHistoryLimit: 2
    annotations: {}
  config:
    namespaceSelector:
      matchNames:
      - stakater
    headerBackground:
    headerForeground:
    title:
    instanceName:
    customApps: {}
  proxy:
    enabled: false
  openshiftOauthProxy:
    enabled: false
    serviceAccountAnnotations: {}
    # image: stakater/oauth-proxy:v0.0.2
  service:
    annotations: {}
    expose: "false"
  ingress:
    enabled: false
    annotations: {}
    hosts:
    - host: forecastle.example.com
      paths:
      - /
  route:
    enabled: false
    annotations: {}
    additionalLabels: {}
    host: ""
    port:
      targetPort: http
    wildcardPolicy: None
    tls:
      termination: edge
      insecureEdgeTerminationPolicy: Redirect
