name: Release Helm Chart

on:
  push:
    branches:
      - master
    paths:
      - 'deployments/kubernetes/chart/forecastle/Chart.yaml'

env:
  HELM_REGISTRY_URL: "https://stakater.github.io/stakater-charts"

jobs:
  release:
    name: Publish Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Lint chart
        run: helm lint deployments/kubernetes/chart/forecastle/

      - name: Publish Helm chart
        uses: stefanprodan/helm-gh-pages@master
        with:
          branch: master
          repository: stakater-charts
          target_dir: docs
          token: ${{ secrets.GHCR_TOKEN }}
          charts_dir: deployments/kubernetes/chart/
          charts_url: ${{ env.HELM_REGISTRY_URL }}
          owner: stakater
          linting: off
          commit_username: stakater-user
          commit_email: stakater@gmail.com

      - name: Notify Slack
        uses: 8398a7/action-slack@v3
        if: always()
        with:
          status: ${{ job.status }}
          fields: repo,author,action,eventName,ref,workflow
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.STAKATER_DELIVERY_SLACK_WEBHOOK }}
